{% extends "admin/base.html" %}
{% load i18n %}

{% block messages %}
    {% if settings.ENVIRONMENT_SHOWN_IN_ADMIN %}
        <div class="env env-{{ settings.ENVIRONMENT }}">{{ settings.ENVIRONMENT }}</div>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}

    {% url 'admin:login' as admin_login_url %}
    {% if request.path != admin_login_url %}
        <div class="version" title="Git SHA: {{ settings.GIT_SHA|default:'' }}">
            {% blocktrans with version=settings.RELEASE %}
                version {{ version }}
            {% endblocktrans %}
        </div>
    {% endif %}
{% endblock %}
