name: Code quality checks

# Run this workflow every time a new commit pushed to your repository
on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  linting:
    name: Code-quality checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toxenv:
          - ruff
          - docs
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install tox
      - run: tox
        env:
          TOXENV: ${{ matrix.toxenv }}

  check-envvar-documentation:
    name: Check if environment variables are documented
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Check environment variables
        run: python bin/check_envvar_usage.py

  type-checking:
    name: Type checking (Pyright)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install additional dependencies
        run: |
          pip install uv
          uv pip install \
            --system \
            -e .[type-checking,tests,cors,csp,structlog]
      - uses: jakebailey/pyright-action@v1
        with:
          version: 1.1.407
          project: pyright.pyproject.toml
